html, body{
color: #000;
background-color: #fff;
height: 100vh;
opacity: 0.9;
font-family: "Open Sans",sans-serif;

}

.loader_bg{
  position: fixed;
  z-index:999999;
  background: #fff;
  width:100%;
  height: 100%;
}
 .loader{
  border-radius:0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;

}
.loader:before, .loader:after{
  content: '';
  border:1em solid #17a2b8;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  animation: loader  2s linear infinite;
  opacity: 0;

}
.loader:before{
  animation-delay:.5s;
}


@keyframes loader {

  0%{
    transform: scale(0);
    opacity: 0;

  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}


.my-header{
  display: none;
}

.left-main-section{
  margin-right: 0;
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);
}


.right-main-section-column{
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.right-main-section-column::-webkit-scrollbar{
display: none;       /* Safari and Chrome */
}

.right-main-section{
  margin-left: 0;
}

.right-section{
  min-height: 34.625rem;
}

#About{
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#Skills{
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#Experience{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
  margin-right: -30px;
}

#Contact{
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
  margin-right: -30px;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }

@-webkit-keyframes fadeInDown {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}

.rounded {
    border-radius: 1rem !important;
}

.rounded-circle{
  width: 20vh;
}

.user_name{
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins",sans-serif;
}

.dot{
 height: 10px;
 width: 10px;
 background:#17a2b8;
 border-radius: 50%;
 display: inline-block;
}

.fa.fa-home{
  font-size: 20px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoGithub:hover {
  background-color: #24292e!important;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 23px;
}

.social-circle li i {
  margin: 0;
  line-height: 23px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.social-links {
  width:80%;
}

.fa.fa-home, .fa.fa-suitcase, .fa.fa-mortar-board, .fa.fa-user-o, .fa.fa-address-book-o{
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #17a2b8;
 }

 a{
  color:#17a2b8;
  pointer:cursor;
 }

 .btn-info:hover {
    color: #138496;
    background-color: #fff;
    border-color: #117a8b;
    pointer:cursor;
}

 h1
 {
   font-size: 60px;
   font-weight: 700;
   line-height: 1em;
 }

 h2{
   font-size: 28px;
   font-weight: 700;
 }

 .main-row{
   padding-top: 1rem;
 }

 .mytitle{
   padding-top: 130px;
   line-height: .7em;
 }

 .career-items span {
    padding: 18px 6px;
    display: inline-block;
    width: 206px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #138496;
}
.card{
  border: none;
}

.detail-section{
  min-height: 12rem;
  max-height: 22rem;
  padding: 1rem;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);
}

.myul,.myli { margin: 0.4rem 0 0.8rem 1rem;
    padding: 0;
 }

.item-list2{
  margin-top: .35rem;
}

textarea.form-control {
    height:5rem;
}

.icons{
  font-size: 24px;
  color: #17a2b8;
  float: left;
  line-height: 1;
  -webkit-text-stroke: 1px white;
}

 .details h5{
  color: #000;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0.1rem;
}

.details span{
  color: #777;
  font-size: 14px;
  line-height: 1.3;
  overflow-x: hidden;
}

.form-control{
  border-radius: .5rem;
  border: 1px solid #777;
}

.about-h1{
  font-size: 50px;
}


/* myskiil */

.skillBox{
  box-sizing: border-box;
  width: 100%;
  margin:2rem;
  margin-left:3px;
}

.skillBox p{
  color: #9a948e;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.skillBox p{
  color: #000;
  margin: 0 0 0 0px;
  padding:1px;
  padding-left: 0;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}


.skillBox p:nth-child(2){
  float: right;
  margin-right: 4.5rem;
  line-height: 0.8;
  position: relative;
  top:-20px;
}

.skill{
  background:#9a948e;
  padding: 0px;
  width: 80%;
  border-radius:4px;
}

.skill-level{
  background:#117a8b;
  width: 80%;
  height: 7px;
  border-radius:4px;
  }

.circleBar{
  text-align: center;
  font-family: "Poppins",sans-serif;
}
.circleBar .round{
  min-height: 25px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;

}

.circleBar .round strong{
  position: absolute;
  top:50%;
  left:55%;
  margin-top: -35px;
  transform: translate(-50%);
  color: #212121;
  font-weight: 200;
  font-size: 20px;
}

.circleBar span{
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}

.circleBar span i{
  color: #333;
  font-size: 22px;
  margin-right: 7px;
}

.Get-in-touch
{
  font-size: 50px;

}

/* End my skill */
/* Style for Mobile Navbar */
.mobile-navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .7rem 1rem;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,.1);
}

.rounded {
    border-radius: .50rem !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.navbar-light .navbar-toggler {
  border:none;
  outline: none;
}

/* Media Queries  */

@media screen and (max-width: 800px) {
  .col-md-3{
    display: none;
  }

  .my-header{
    display: block;
    padding-top: 1rem;
  }

  .collapse{
    border-radius: 0rem 0rem .5rem .5rem;
  }

  .right-main-section-column{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .my-img {
    width: 8rem;
  }

  .social-links{
    width:100%;
   }

  .career-items span{
    margin-top: .5rem;
  }

  .myskill{
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 762px) {

.loader_container{
    padding-left: 9rem;
  }

  .main-row{
    padding-top: .5rem;
  }

  .left-main-section {
    margin-left: 0;
  }

  .right-main-section-column{
    overflow-y: auto;
  }

  .right-main-section {
    margin-right: 0;
  }

  .mytitle{
    padding-top:0;
  }

  .right-section {
    text-align:center;
  }

  .Education-section, .Work-section{
    padding-left: 0;
    padding-right: 0;
  }

  .Work-section{
    margin-top: 1rem;
  }

  .details h5{
    text-align: left;
  }

  .skill_main{
    padding-right: 0px;
    padding-left: 0px;
  }

  .myskill{
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .col-md-7{
    margin-top: 3rem;
  }

  .Get-in-touch
  {
    font-size: 48px;
  }

  #Experience, #Contact{
    margin-right: -15px;
  }
}

@media screen and (max-width: 550px) {
  .social-links {
    width:50%;
  }
}

@media screen and (max-width: 375px) {

  .loader_container{
      padding-left: 8rem;
    }

  .right-main-section-column{
    overflow-y: auto;
  }

  .about-mobile{
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-h1{
    font-size: 45px;
  }

  .myskill h2{
    font-size: 26px;
  }

  .myskill-circular-h2{
    padding-top: 1rem;
  }

  .get-in-mobile{
    padding-left: 0px;
    padding-right: 0px;
  }

  .Get-in-touch{
    font-size: 39px;
  }
}
