<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags test -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" href="{%static '/img/favicon.png' %}" sizes="192x192">
    <!-- <link rel="icon" type="image/png" href="http://example.com/myicon.png"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static '/css/resume.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Prabhat Mishra-Software Developer</title>
  </head>

  <body>
    <!-- start preloader -->
    <div class="loader_bg mx-0">
      <div class="row align-items-center" style="margin-top: 12rem;">
        <div class="col-md-5"></div>
        <div class="col-md-2 loader_container">
          <div class="loader" id="mobile_loader"></div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>

    <!-- End of preloader -->




    <div class="container">
      <!-- header for mobile view -->
      <div class="row-md-12 my-header">
        <div class="col px-0">
          <div class="pos-f-t ">
            <nav class="navbar mobile-navbar navbar-light bg-light rounded">
              <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="float:left;"></span>
              </button>
              <img class="rounded-circle" alt="100x100" src="{%static '/img/Prabhat.jpg' %}" data-holder-rendered="true" style="width:2rem;">

            </nav>
            <div class="collapse border text-center" id="navbarToggleExternalContent">
              <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact">Contact</a>
            </li>
          </ul>
          <!-- Links -->
            </div>
          </div>
        </div>

      </div>
      <!-- End of header for mobile view -->
      <div class="row main-row">
        <div class="col-md-3">
         <div class="row border rounded left-main-section">
           <div class="col-md-12 text-center">
              <img class="rounded-circle  mt-3 shadow-lg my-img" alt="100x100" src="{%static '/img/Prabhat.jpg' %}" data-holder-rendered="true">
             <br><span class="user_name">Prabhat Mishra</span> <span class="dot"></span>
             <p class="role">Software Developer</p>
               <nav class="navbar text-center">
                 <ul class="navbar-nav pt-1 text-left" style="align-items: center; width: 100%;">
                   <div>
                   <li class="nav-item pt-2 d-flex">
                     <a class="nav-link" href="#Home"><i class="fa fa-home"></i>&nbsp;&nbsp;<span class="links">Home</span></a>
                   </li>
                   <li class="nav-item pt-2 d-flex">
                     <a class="nav-link" href="#About"><i class="fa fa-user-o"></i>&nbsp;&nbsp;<span class="about">About</span></a>
                   </li>
                   <li class="nav-item pt-2 d-flex">
                     <a class="nav-link skills" href="#Skills"><i class="fa fa-mortar-board">&nbsp;&nbsp;</i><span class="links">Skills</span></a>
                   </li>
                   <li class="nav-item pt-2 d-flex">
                     <a class="nav-link" href="#Experience"><i class="fa fa-suitcase"></i>&nbsp;&nbsp;<span class="links">Experience</span></a>
                   </li>
                   <li class="nav-item pt-2 d-flex">
                     <a class="nav-link" href="#Contact"><i class="fa fa-address-book-o"></i>&nbsp;&nbsp;<span class="links">Contact</span></a>
                   </li>
                   </div>
                 </ul>
               </nav>

                 <ul class="social-network social-circle  list-unstyled list-inline mx-auto">
                   <div class="mx-auto d-flex social-links">
                     <li class="mx-2"><a href="#" class="icoGithub" title="Linkedin"><i class="fa fa-github"></i></a></li>
                     <li class="mx-2"><a href="https://www.linkedin.com/in/prabhat-mishra-4a7a9b18b/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                     <li class="mx-2"><a href="https://www.facebook.com/profile.php?id=100004210060644" class="icoFacebook btn-floating btn-fb mx-1" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                   </div>
               </ul>

           </div>
         </div>
        </div>

       <!-- Right Section -->
        <div class="col-md-9 right-main-section-column"  style="">
          <div class="row right-main-section">
            <div class="col-md-12">
              <section class="row right-section" id="Home" style="display: none;">
                <div class="col-md-12 p-5 border rounded" style="background-color: #fff; box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);">
                  <div class="mytitle">
                  <h1 class="my-name">I’m Prabhat Mishra<span class="dot ml-1" > </span> </h1>
                  </div>
                  <div class="row-md-12">
                  <p class="text-justify">I am full stack developer. I enjoy bulding everything from small business sites to rich intreactive web appps. if you are a business seeking or an employer looking to hire, you can get it touch with me here.</p>
                  </div>
                  <div class="row-md-12 pt-4">
                    <a href="mailto: mrprabhatmishra@outlook.com"><button type="button" class="btn btn-info"> <i class="fa fa-envelope"></i> Hire me</button> </a>
                  </div>
                </div>
              </section>

              <section class="row mt-5 p-5 rounded border right-section animate fadeInDown" style="background-color: #fff; box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);" id="About">
                <div class="col-md-12 about-mobile">
                  <div class="row-md-12">
                    <h1 class="about-h1">About Me</h1>
                  </div>
                  <div class="row-md-12 pt-4">
                    <p class="text-justify">“I am passionate about my work. Because I love what I do, I have a steady source of motivation that drives me to do my best.For past five months I had worked in Edutech startup. there I have developed official website tyutee.com and product login.tyutee.com. In that internship I had worked on some cutting-edge technologies like python and front-end technologies like HTML5, CSS3, Bootstrap4 and jQuery.”</p>
                  </div>
                  <div class="card text-center">
                    <div class="card-body">
                        <div class="career-items text-white">
                        	<span>Python 3</span>
                        	<span>Django</span>
                        	<span>PostgreSQL</span>
                        </div>

                        <div class="career-items text-white item-list2">
                        	<span>HTML5</span>
                          	<span>CSS3</span>
                        	<span>JavaScript</span>
                        </div>
                    </div>
                  </div>
                  <div class="row-md-12 text-center mt-5">
                     <a href="{%static '/img/PrabhatMishra_InternshalaResume.pdf' %}"><button type="button" class="btn btn-info"> <i class="fa fa-download"></i> Downlaod CV</button> </a>

                  </div>
                </div>
              </section>

              <section class="row mt-5 p-5 rounded  border right-section animate fadeInDown" style="background-color: #fff; box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);" id="Skills">
                <div class="col-md-12 skill_main">
                  <div class="row mx-0 ">
                    <div class="col-md-6 myskill" >
                      <h2 class="">Technical Skills</h2>
                      <div class="row-md-12">
                        <div class="skillBox">
                          <p>Pyhton</p>
                          <p>80%</p>
                          <div class="skill">
                            <div class="skill-level" style="width:80%"></div>
                          </div>
                        </div>
                        <div class="skillBox">
                          <p>Django</p>
                          <p>80%</p>
                          <div class="skill">
                            <div class="skill-level" style="width:80%"></div>
                          </div>
                        </div>
                        <div class="skillBox">
                          <p>Html</p>
                          <p>70%</p>
                          <div class="skill">
                            <div class="skill-level" style="width:70%"></div>
                          </div>
                        </div>
                        <div class="skillBox">
                          <p>CSS</p>
                          <p>50%</p>
                          <div class="skill">
                            <div class="skill-level" style="width:50%"></div>
                          </div>
                        </div>
                        <div class="skillBox">
                          <p>JavaScript</p>
                          <p>50%</p>
                          <div class="skill">
                            <div class="skill-level" style="width:50%"></div>
                          </div>
                        </div>
                        <div class="skillBox">
                          <p>PostgreSQL</p>
                          <p>60%</p>
                          <div class="skill">
                            <div class="skill-level" style="width:60%"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 myskill" onmouseove="Circle('.round');">
                      <h2 class="myskill-circular-h2">Professional Skills</h2>
                        <div class="row circleBar">
                            <div class="col-md-6 ">
                              <div class="round" data-value="0.87" data-size="130" data-thickness="8">
                               <strong></strong>
                                <p>Communication</p>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="round" data-value="0.74" data-size="130" data-thickness="8">
                               <strong></strong>
                                <p>Team Work</p>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="round" data-value="0.74" data-size="130" data-thickness="8">
                               <strong></strong>
                                <p>Project</p>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="round" data-value="0.95" data-size="130" data-thickness="8">
                               <strong></strong>
                                <p>Creativity</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

                <div class="col-md-12">
                  <section class="row mt-5 p-5 rounded border right-section animate fadeInDown" style="background-color: #fff; box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);" id="Experience">
                    <div class="row justify-content-center">
                      <div class="col-md-6 pl-0 Education-section">
                        <h2 class="">Education</h2>
                        <div class="col-md-12 p-3 bg-white rounded  m detail-section">
                          <h5>M.C.A From Bangalore University</h5>
                          <div class="mh-eduyear">20017-2020</div>
                          <p class="text-section text-justify">I have completed MCA from presidency college with 8.2 CGPA. During this degree I have developed 'online web app' project named Eklavya using Django.</p>
                        </div>
                        <div class="col-md-12 p-3 mt-4 bg-white rounded  detail-section">
                          <h5>B.C.A From MGKVP University</h5>
                            <div class="mh-eduyear">2005-2008</div>
                            <p class="text-section text-justify">I have completed BCA from SHEPA college with 7.2 CGPA. During this degree I have developed 'smart text messing web app' project using Java.</p>
                        </div>
                      </div>
                      <div class="col-md-6 pr-0 Work-section ">
                        <h2>Experience</h2>
                        <div class="col-md-12 p-3  bg-white rounded  m detail-section">
                          <h5>Sofware Developer(Intern) tyutee</h5>
                          <div class="mh-eduyear">20017-2020</div>
                          <p class="text-section text-justify">For past five months I had worked in Edutech startup named tyutee.com. there I have developed official website 'tyutee.com' and product 'login.tyutee.com'. </p>
                        </div>
                        <div class="col-md-12 p-3 mt-4  bg-white rounded  detail-section">
                          <h5>Certifications in Python</h5>
                               <ul class="myul">
                              <a href="https://coursera.org/share/13c6ce301dfe4e65925d384127c9edd6" style="text-decoration:none"> <li class="myli">Certified in Python from University of Michigan.</li> </a>
                              <a href="https://drive.google.com/open?id=1_7EE4ZOCmukKDKGp31GbKJMWRELOUZGY" style="text-decoration:none"><li class="myli">Certified in Python from MySirg.com.</li> </a>
                              <a href="https://drive.google.com/open?id=1jNdkIT3f7WUz3dlBGtWhfPv3VPRj6Jwi" style="text-decoration:none"><li class="myli">Certified in Django from MySirg.com.</li></a>
                              </ul>
                      </div>
                    </div>
                  </div>
              </section>

              <section class="row my-5 p-5 rounded right-section border animate fadeInDown" style="background-color: #fff; box-shadow: 0px 6px 16px 0px rgba(0,0,0,.2);" id="Contact">
                <div class="col-md-12 get-in-mobile">
                    <h1 class="Get-in-touch">Get in touch</h1>
                    <div class="spacer" style="height:60px;"></div>
                    <div class="row">
                       <div class="col-md-5">
                        <div class="row">
                          <div class="col-md-12 contact-info d-flex">
                            <span><i class="fa fa-phone icons" aria-hidden="true"></i></span>
                            <div class="details pl-4">
                              <h5>Phone</h5>
                              <span>+44 1632 960428</span>
                            </div>
                           </div>

                           <div class="col-md-12 contact-info d-flex my-5">
                             <span><i class="fa fa-envelope icons" aria-hidden="true"></i></span>
                             <div class="details pl-3">
                               <h5>Email address</h5>
                               <span>mrprabhatmishra@outlook.com</span>
                             </div>
                            </div>

                            <div class="col-md-12 contact-info d-flex">
                              <span><i class="fa fa-map-marker icons" aria-hidden="true"></i></span>
                              <div class="details pl-4">
                                <h5>Location</h5>
                                <span>West Palm Beach, 4669 Travis</span>
                              </div>
                             </div>
                        </div>

                      </div>
                      <div class="col-md-7">
                        <form class= "text-center" method="POST" action="">
                          {%csrf_token%}
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              {{form.name}}
                            </div>
                            <div class="form-group col-md-6">
                              {{form.email}}
                            </div>
                          </div>
                          <div class="form-group py-4">
                           {{form.subject}}
                          </div>
                          <div class="form-group">
                          {{form.message}} <br> <br>
                          <div class="spinner-border text-info" id="loader" role="status" style="display:none;">
                           <span class="sr-only">Loading...</span>
                          </div>
                          </div>

                          <button type="submit" class="btn btn-info">Submit Message</button>

                          <p class="mt-2" id="send_mesaage" style="color:#17a2b8"></p>
                        </form>

                      </div>

                    </div>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js"></script>
    <script type="text/javascript">

      function Circle(el){
        $(el).circleProgress({fill:{color: '#117a8b'}})
        .on('circle-animation-progress',function(event,
        progress,stepvalue){
        $(this).find('strong').text(String(stepvalue.toFixed(2))+'%'
        );
        });
      };
      Circle('.round');
       setTimeout(function(){
         $('.loader_bg').fadeToggle();
       },1500);


      function upload(event) {
      event.preventDefault();
      var data = new FormData($('form').get(0));

      $.ajax({
         url: $(this).attr('action'),
         type: $(this).attr('method'),
         data: data,
         cache: false,
         processData: false,
         contentType: false,
         beforeSend: function(){$("#loader").show();},

         success: function(data) {
           if(data.messages=="done")
            {
              $("#loader").hide();
              $('#send_mesaage').text("Request has beee sent");
            }
            else{
              $(function(){
                $("#send_mesaage").text("Message not sent. Please try again.");
             });
            }
         }
      });
      return false;
      }

      $(function() {
         $('form').submit(upload);
      });

      $(document).ready(function () {
          $('#Home').fadeIn(6000).removeClass('hidden');
      });


    </script>

  </body>
</html>
